@font-face {
  font-family: Montserrat;
  src: local('Montserrat') , url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: Montserrat , sans-serif;
}

.title-categories {
  color: rgb(81, 31, 115);
  font-weight: 900;
  letter-spacing: 1.5px;
}

.categories {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
}

.all-classes {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.content-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 36px;
}

.categorys-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  word-spacing: 1px;
}

.categorys-button:hover {
  font-size: 17px;
  -webkit-text-stroke-color: rgb(23, 194, 63);
  -webkit-text-stroke-width: 0.8px;
  transform: translateY(-2px);
  transition: 300ms;
}

.input-categories {
  background-color: rgb(96, 48, 140);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.detalhe {
  background-color: rgba(154, 153, 242);
  height: 1.5px;
  margin-bottom: 25px;
  width: 250px;
}

.cart {
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.input-search {
  border: none;
  border-radius: 10px;
  height: 35px;
  padding-left: 10px;
  width: 280px;
}

.input-search:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  color: rgb(114, 116, 123);
  left: 285px;
  position: absolute;
  top: 31px;
  transition: transform 300ms;
}

.search-button:hover {
  color: rgb(18, 159, 51);
  font-size: 18px;
  transform: translateY(-1px);
  transition: 300ms;
}
