@font-face {
  font-family: Montserrat;
  src: local('Montserrat') , url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: Montserrat , sans-serif;
}

body {
  background-color: rgb(241, 239, 244);
}

.title-categories {
  color: rgb(123, 44, 191);
  font-weight: 900;
  letter-spacing: 1.5px;
}

.input-categories {
  align-items: center;
  background-color: rgba(90, 24, 154, 1);
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.all-classes {
  background-color: white;
  box-shadow: 1px 1px 4px 0.2px rgba(0, 0, 0, 0.132);
  display: flex;
  flex-direction: column;
  padding: 20px 80px 20px 40px;
}

.categories {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
}

.content-category {
  display: flex;
  justify-content: space-between;
}

.categorys-button {
  background-color: transparent;
  border: none;
  color: rgba(100, 88, 112, 1);
  cursor: pointer;
  font-size: 15px;
  word-spacing: 1px;
}

.categorys-button:hover {
  font-size: 17px;
  -webkit-text-stroke-color: rgb(32, 220, 96);
  -webkit-text-stroke-width: 0.8px;
  transform: translateY(-2px);
  transition: 300ms;
}

.detalhe {
  background-color: rgba(123, 44, 191);
  height: 1.5px;
  margin-bottom: 25px;
  width: 250px;
}

.cart {
  color: white;
  font-size: 30px;
  margin-right: 20px;
  position: relative;
}

.input-search {
  border: none;
  border-radius: 5px;
  height: 35px;
  padding-left: 10px;
  width: 250px;
}

.input-search:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  color: rgb(123, 44, 191);
  font-size: 20px;
  left: 255px;
  position: absolute;
  top: 28px;
  transition: transform 300ms;
}

.search-button:hover {
  color: rgb(32, 220, 96);
  font-size: 29px;
  transform: translateY(-5px) translateX(-3px);
  transition: 500ms;
}

.quantity-cart {
  background-color: rgb(32, 220, 96);
  border-radius: 100%;
  color: rgb(24, 100, 42);
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: translate(30%, -30%);
  width: 14px;
}
