#initial-message {
  display: none;
}

.button-products {
  display: flex;
  border: none;
  background-color: white;
  text-align: left;
  margin-top: 10px;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  font-size: 13px;
}

.product-content {
  display: flex;
  flex-direction: column;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

#all-products {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
}

#button-add {
  width: 180px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: Uppercase;
  height: 30px;
  background-color: rgb(23, 145, 64);
  transition: transform 300ms;
}

#button-add:hover {
  background-color: rgba(225, 252, 232, 0.82);
  color: rgb(23, 145, 64);
  border: 1px solid rgb(23, 145, 64);
  filter: drop-shadow(3px 3px 3px rgba(132, 123, 99, 0.576));
  transition: 500ms;
  transform: translateY(-2.5px);
}

#button-add:active {
  background-color: rgb(133, 37, 201);
  color: white;
  border: none;
  filter: drop-shadow(3px 3px 3px rgba(132, 123, 99, 0.576));
}
