.initial-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 500px;
}

.describe-initial {
  margin-top: -5px;
  text-align: center;
}

.all-products {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  margin-top: 85px;
}

.description-products {
  background-color: transparent;
  border: none;
  color: rgba(100, 88, 112, 1);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-top: 20px;
  text-align: start;
  width: 200px;
  word-spacing: 1px;
}

.button-products {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: 348px;
  justify-content: space-between;
}

.product-content {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  filter: drop-shadow(1px 1px 2px rgba(190, 172, 210, 0.576));
  flex-direction: column;
  height: 415px;
  justify-content: space-around;
  width: 259px;
}

.img-products {
  padding-top: 15px;
  width: 150.7px;
}

.button-add {
  background-color: rgb(52, 241, 116);
  border: none;
  border-radius: 5px;
  color: rgb(24, 100, 42);
  filter: drop-shadow(2px 3px 3px rgba(193, 172, 210, 0.576));
  font-size: 11px;
  font-weight: 600;
  height: 38px;
  margin-bottom: 16px;
  text-transform: uppercase;
  transition: transform 300ms;
  width: 200px;
}

.button-add:hover {
  background-color: rgb(90, 24, 154);
  color: white;
  filter: drop-shadow(4px 4px 5px rgba(193, 172, 210, 0.576));
  transform: translateY(-2.5px);
  transition: 500ms;
}

.button-add:active {
  background-color: rgb(133, 37, 201);
  border: none;
  color: white;
  filter: drop-shadow(3px 3px 3px rgba(190, 172, 210, 0.576));
}

.price {
  color: rgb(90, 24, 154);
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}

.money {
  align-self: flex-end;
  color: rgb(174, 154, 207);
  font-size: 16px;
  font-weight: 600;
  margin-right: 2px;
}

.sad {
  font-size: 80px;
  margin-top: 100px;
}

.notFound {
  align-items: center;
  color: rgb(50, 8, 69);
  display: flex;
  flex-direction: column;
}
